* {
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
body {
    background-color: #ffffff;
}

/*///////////////header\\\\\\\\\\\\\\\*/
header {
    margin-top: 15px;
    position: relative;
}
nav {
    width: 765px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
header a {
    color: black;
    font-size: 20px;
    font-weight: 500;
}
/*dropdown*/
nav span {
    width: 73px;
    height: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #ff764d;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-top: 1px;
}                           
nav span .div-1{
    background-color: #ff764d;
    display: inline-block;
    width: 12px;
    height: 2px;
    position: relative;
    top: -3px;
    left: 4px;
}
nav span .div-2{
    background-color: #ff764d;     
    display: inline-block;
    width: 2px;
    height: 12px;
    position: relative;
    top: 2px;
    right: 7px;
}

nav span:hover .div-2 {
    display: none;
}
.dropdown {                       
    width: 1500px;
    height: 1000px;
    background-color: black;
    margin: auto;
    position: absolute;
    top: -1089px;
    right: -786px;
    text-align: center;
    font-size: 150px;
                                      
}
span:hover .dropdown{
    width: 1500px;
    height: 1000px;
    background-color: black;
    margin: auto;
    position: absolute;
    top: 30px;
    right: -786px;
    text-align: center;
    font-size: 150px;
    z-index: 1;
   
}                           
/*End dropdown*/

/*icon purger*/
.icon-purger-container {
    width: 61px;
    height: 30px;
    display: flex;
    justify-content: space-between; 
    cursor: pointer; 
}             
nav .icon-purger-one {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;    
}
nav .icon-purger-one div {             
    cursor: pointer;
    background: black;
    width: 4px;
    height: 28px;
}

nav .icon-purger-two{
    width: 28px;
    height: 28px;                
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}
nav .icon-purger-two div {
    background: black;
    width: 28px;
    height: 4px;
    cursor: pointer;
}
.icon-purger-container:hover .div-11,
.icon-purger-container:hover .div-12,
.icon-purger-container:hover .div-13,
.icon-purger-container:hover .div-14 {
    width: 28px;
    height: 4px;
}

.icon-purger-container:hover .icon-purger-one{
    width: 28px;
    height: 28px;                
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}
.icon-purger-container:hover .div-22,
.icon-purger-container:hover .div-24,
.icon-purger-container:hover .div-23,
.icon-purger-container:hover .div-25 {
    width: 4px;
    height: 28px;
}

.icon-purger-container:hover .icon-purger-two{
    width: 28px;
    height: 28px;icon-purger-tow
    display: flex;
    justify-content: space-between;
    cursor: pointer; 
    flex-direction: row; 
}                               
/* End icon purger*/

ul {
      width: 535px;
      height: 25px;
      margin: 0px;
      list-style: none;
      padding: 0px;
      display: flex;
      justify-content: space-between;
      padding-top: 2px;
}
 li {
     display: inline-block;
 }

.nav-link {
    display: flex;
    justify-content: space-between;
    width: 320px;
    position: relative;
    top: -30px;
    left: 1250px;
}
.nav-link .link-1 {
    color: blue;
    font-size: 20px;
    font-weight: 600;
}
.nav-link .link-2 {
    color: black;
    font-size: 16px;
    font-weight: 700;
    margin-top: 7px;
}

header hr {
    color: red;
    background: lawngreen;
    position:relative;
    top: -7px;
    opacity: 0.2;
}

.link-header {
    width: 260px;
    display: flex;
    justify-content: space-between;
    margin:  -11px 0px 30px 20px;
}
.link-header a {
    font-size: 16px;
    font-weight: 600;
}

/*///////////////END header\\\\\\\\\\\\\\*/

/*///////////////section one\\\\\\\\\\\\\\\\\*/
.section-one{
    height: 1400px;
}
.section-one img {
    width: 1333px;
    height: 940px;
    margin: auto;
    display: block;
    margin: auto;
}
.section-one a {
    color: #0000ff;
}
.section-One-div-pra-One {
    width: 1000px;
    height: fit-content;
    margin: 120px 0px 0px 410px ;
}
.section-One-div-pra-two {
    width: 1000px;
    height: fit-content;
    margin: 30px 0px 0px 410px ;
}

.section-One-pra-One {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    
}
.section-One-pra-two {
    font-size: 20px;
    line-height: 40px;
}
/*//////////////END section one\\\\\\\\\\\\\\*/

/*///////////////section two \\\\\\\\\\\\\\\\\*/
.section-two{
    height: 1270px;
    position: relative;
}
.section-two-div-one {
    width: 910px;
    height: 935px;
    position: absolute;
    right: 0px;
    background-color: #fbffa6;
}
.img-One-section-two {
   position: absolute;
   top: 262px;
   left: 280px;
   width: 533px;
   height: 400px;
   z-index: 1;
}
.img-two-section-two{
    position: absolute;
    top: 125px;
    left: 125px;
    width: 666px;
    height: 666px;
}

.section-two-div-pra-One {
    position: absolute;
    bottom: 88px;
    right: 413px;
}
.section-two-div-pra-two {
    position: absolute;
    bottom: 0px;
    right: 362px;
}

.section-two-pra-One {
    font-size: 27px;
    font-weight: 700;
    line-height: 36px;
}
.section-two-div-pra-two{
    font-size: 19px;
    line-height: 40px;
}
/*//////////////END section two\\\\\\\\\\\\\\*/
